{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"]
    }
  }
}
